<div class = "uk-navbar-container">
  <nav class="uk-background-default" uk-navbar>
    <div class="uk-navbar-center">
      <ul class = "uk-navbar-nav">
        <li>
          <a href="/">
            <span class="uk-icon uk-button-text uk-text-large uk-text-bold">&#8212; E &middot; S &middot; Y &#8212;</span>
          </a> 
        </li>
      </ul>
    </div>
    <div class="uk-navbar-left">
      <ul class = "uk-navbar-nav">
        <li>
          <a class="uk-button uk-link" type="button" uk-toggle="target: #offcanvas-nav"><span uk-navbar-toggle-icon></span></a>
          <div id="offcanvas-nav" uk-offcanvas="overlay: false; mode: slide">
            <div class="uk-offcanvas-bar">
              <button class="uk-offcanvas-close" type="button" uk-close></button>
              <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header"><a href="/">Ethan</a></li>
                <li class = "uk-nav-divider"></li>
                {{ range where .Site.Menus.main "Weight" "in" (seq 1 10) }}
                <li><a href = "{{ .URL }}"><span >{{ .Name }}</span></a></li>
                {{ end }}
                <li class="uk-nav-header"><a>Research</a></li>
                <li class = "uk-nav-divider"></li>
                {{ range where .Site.Menus.main "Weight" "in" (seq 11 20) }}
                <li><a href = "{{ .URL }}"><span >{{ .Name }}</span></a></li>
                {{ end }}
                <li class="uk-nav-header"><a href = "/portfolio/">Skills Portfolio</a></li>
                <li class = "uk-nav-divider">
                {{ range where .Site.Menus.main "Weight" "in" (seq 23 30) }}
                <li><a href = "{{ .URL }}"><span >{{ .Name }}</span></a></li>
                {{ end }}
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class = "uk-navbar-right uk-margin-small-right">
      <div class = "uk-visible@l uk-margin-right">
        <form id = "search-by-container" class="uk-search uk-search-default uk-width-expand">
          <a href="" class="uk-search-icon-flip" uk-search-icon></a>
          <input id = "search-by" class="uk-search-input" type="search" placeholder="Search...">
        </form>
      </div>
      <ul  class = "uk-navbar-nav">
        <li><a href="{{ .Site.Params.github }}" uk-icon="icon: github"></a></li>
      </ul>
    </div>
  </nav>
  <hr class = "uk-margin-remove">
</div>