{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class = "uk-container uk-container-small uk-padding">
  <article class="uk-article">
    <ul class="uk-breadcrumb">
      <li><a href="/publications/">Publications</a></li>
      {{ if (eq .Params.pub_type "journal")}}
      <li><span>{{print (title .Params.pub_type) " Articles" }}</span></li>
      {{else if(eq .Params.pub_type "conference")}}
      <li><span>{{ print (title .Params.pub_type) " Presentations" }}</span></li>
      {{ else }}
      <li><span>{{ print (title .Params.pub_type) }}</span></li>
      {{ end }}
      <li><span>{{.Params.intext}}</span></li>
    </ul>
    <h1 class="uk-article-title">{{ .Title }}</h1>
    <p class="uk-article-lead uk-text-muted"> {{ .Params.authors }}</p>
    <div class = "uk-inline uk-width-1-1">
      <ul class = 'uk-margin-auto uk-width-1-1' uk-tab>
        {{ if not (eq .Params.abstract "") }}
        <li><a href='#'>Abstract</a></li>
        {{ end }}
        {{ if not (eq .Params.iframe "") }}
        <li><a href='#'>Paper</a></li>
        {{ end }}
      </ul>
      <ul class='uk-switcher uk-padding uk-padding-remove-vertical uk-width-1-1@m'>
        {{ if not (eq .Params.abstract "") }}
        <li>
          <p>{{ .Params.abstract }}</p>
        </li>
        {{ end }}
         {{ if not (eq .Params.iframe "") }}
        <li>
          <iframe class = "uk-width-1-1" src="{{ .Params.iframe }}" uk-height-viewport></iframe>
        </li>
        {{ end }}
      </ul>
      <ul class="uk-pagination">
        {{ if not (eq .Params.prev_pg "") }}
        <li class = 'uk-position-center-left-out'><a href="{{ .Params.prev_pg }}"><span class="uk-margin-small-right" uk-slidenav-previous ></span></a></li>
        {{ end }}
        {{ if not (eq .Params.next_pg "") }}
        <li class = 'uk-position-center-right-out'><a href="{{ .Params.next_pg }}"><span class="uk-margin-small-left" uk-slidenav-next ></span></a></li>
        {{ end }}
      </ul>
    </div>
  {{ .Content }}
  </article>
</div>
{{ end }}