{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<style>
  #article-top h4:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: #f0506e;
  }
  
</style>

<div id = "article-top" class = 'uk-margin-bottom uk-position-relative'>
  <h1 class = 'uk-heading-medium uk-padding uk-text-center uk-position-relative'>{{ .Params.title }}</h1>
  <h4 class = "uk-text-center uk-text-italic uk-position-relative uk-padding uk-padding-remove-bottom uk-margin-remove-top">{{ .Params.description }}</h4>
  {{.Content}}
</div>

<div class = 'uk-container uk-padding'>
  <div class = 'uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m' uk-grid>
  {{ range (.Paginate (.Data.Pages.ByDate.Reverse)).Pages }}
  <div>
    <div  class="uk-card uk-card-default uk-card-body" style="margin-bottom: 15px; text-align: left;">
      <h4 class = 'uk-card-title uk-link-heading'><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <p class="uk-text-meta">{{ .PublishDate.Format "January 2, 2006"}} &middot; <time class="post-time">{{ .ReadingTime }} minute read</time></p>
      <p>{{ .Description }}</p>
      {{with .Params.tags}}
      {{end}}
      {{range .Params.tags}}
      <a class = 'uk-button uk-button-text' href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="small">{{.}}</a> &nbsp;
      {{end}}
    </div>
  </div>
  {{end}}
  </div>
</div>

{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}